[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
six = "*"
numpy = "*"
tqdm = "*"
pandas = "*"
enum34 = {version = "*", markers="python_version < '3.4'"}

[dev-packages]
pyyaml = "*"
nose = "*"
coverage = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-bibtex = "*"
coveralls = "*"
"pep8" = "*"
isort = "*"
"flake8" = "*"
"flake8-quotes" = "*"
"flake8-print" = "*"
"flake8-commas" = "*"
"flake8-comprehensions" = "*"
"flake8-docstrings" = "*"
"flake8-sorted-keys" = "*"
"flake8-regex" = "*"
"flake8-string-format" = "*"
